@import url('https://fonts.cdnfonts.com/css/satoshi');

button, input {
  cursor: pointer;
}

.controle-auxilio-aluguel {
  font-family: 'Satoshi', sans-serif !important;
  color: black !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-weight: 800;
  margin-left: .75em;
}

.header div {
  display: flex;
  gap: .5em;
}

.btn-export {
  background-color: #157214;
  border: none;
  border-radius: 5px;
  color: white !important;
  font-weight: 600;
  padding: .35em 1em;
  transition: .35s;
}

.btn-export i {
  color: white !important;
}

.pdf {
  margin-left: .5em;
  background-color: red;
}

.btn-export:hover {
  transform: translateY(-2px);
}

.card-grouper {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.ecard {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 25px;
  box-shadow: 0px 0px 32px -3px rgba(0, 0, 0, 0.075);
  padding: 2em;
  transition: .35s;
}

.ecard:hover {
  border: 1px solid rgb(74, 74, 218);
  transform: translateY(-2px);
}

.ecard i {
  display: flex;
  justify-content: center;
  font-size: 3em;
  width: .5em;
  padding: .5em 1em;
  border-radius: 50%;
  background-color: #c1bdfc;
  color: #6359E9;
}

.icon-pendent {
  background-color: #fcf6bd !important;
  color: #e9ba59 !important;
}

.icon-done {
  background-color: #b8e3af !important;
  color: #157214 !important;
}

.ecard p {
  padding-top: 1em;
  font-size: 1.5em;
}

.ecard h1 {
  font-size: 4em;
  font-weight: 800;
}

.ecard div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ecard-pendent:hover {
  border: 1px solid #e9ba59;
}

.ecard-done:hover {
  border: 1px solid #157214;
}

.label-ecard {
  font-size: 1em;
}

.table {
  border: 1px solid #e9e9e9;
  border-radius: 25px;
  margin-top: 1em;
}

.table_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em 1em;
}

.table_header_infos div {
  display: flex;
}

.button-generate {
  background-color: #6359E9;
  border: none;
  border-radius: 5px;
  color: white !important;
  font-weight: 600;
  padding: .35em 1em;
  transition: .35s;
}

.button-generate:hover {
  transform: translateY(-2px);
}

.button-generate i {
  color: white !important;
}

.table_filter {
  display: flex;
  align-items: center;
  padding: .5em 1em;
  gap: .5em;
}

.table_filter div {
  display: flex;
  align-items: center;
  gap: .5em;
}

.table_filter div div {
  display: flex;
  flex-direction: column;
}

.table_filter div input {
  border-radius: 5px;
  border: none;
  background-color: #ece9e9;
  color: black;
  padding: .35em 1em;
}

.table_filter div select {
  border-radius: 5px;
  border: none;
  background-color: #ece9e9;
  padding: .35em 1em;
}

.table_filter div div input {
  border-radius: 5px;
  border: none;
  background-color: #ece9e9;
  color: black;
  padding: .35em 1em;
}

.button-clear {
  background-color: #ff200b;
  color: white !important;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  padding: .35em 1em;
  transition: .35s;
}

.button-clear:hover {
  transform: translateY(-2px);
}

.table_filter button i {
  color: white;
}

.table_filter_date {
  display: flex;
  align-items: center;
  padding: .5em 1em 1em 1em;
  gap: .5em;
}

.table_filter_date select {
  border-radius: 5px;
  border: none;
  background-color: #ece9e9;
  padding: .35em 1em;
}

/* Delete */

table {
  width: 100%;
}

td img {
  width: 36px;
  height: 36px;
  margin-right: .5rem;
  border-radius: 50%;

  vertical-align: middle;
}

table, th, td {
  border-collapse: collapse;
  padding: 1rem;
  text-align: left;
}

thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #d5d1defe;
  cursor: pointer;
  text-transform: capitalize;
}

tbody tr:nth-child(even) {
  background-color: #0000000b;
}

tbody tr {
  --delay: .1s;
  transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
  opacity: 0;
  transform: translateX(100%);
}

tbody tr:hover {
  background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
  transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
  padding: 0;
  font: 0 / 0 sans-serif;
  transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
  width: 0;
  height: 0;
  transition: .2s ease-in-out .5s;
}

.status {
  padding: .4rem 0;
  border-radius: 2rem;
  text-align: center;
}

.status.delivered {
  background-color: #86e49d;
  color: #006b21;
}

.status.cancelled {
  background-color: #d893a3;
  color: #b30021;
}

.status.pending {
  background-color: #ebc474;
}

.status.shipped {
  background-color: #6fcaea;
}

/*  */

table {
  font-family: 'Satoshi', sans-serif !important;
}

thead {
  font-family: 'Satoshi', sans-serif !important;
}

tr {
  font-family: 'Satoshi', sans-serif !important;
}

th {
  font-family: 'Satoshi', sans-serif !important;
  border: none !important;
  background-color: #f3f3ee !important;
}

td {
  font-family: 'Satoshi', sans-serif !important;
  background-color: #fff !important;
}

td:hover {
  background-color: #f3f3ee !important;
}

.loading-img {
  display: none;
}

.pendente {
  text-align: center !important;
  color: #e9ba59 !important;
  font-weight: bold !important;
  /* background-color: #fcf6bd !important;
  padding: .25em, .5em !important;
  border-radius: 25px !important;
  min-width: 50% !important; */
}

.regular {
  text-align: center !important;
  color: #1f9b05 !important;
  font-weight: bold !important;
  /* background-color: #86e49d !important;
  padding: .25em, .5  5em !important;
  border-radius: 25px !important;
  min-width: 50% !important; */
}

.situacao {
  text-align: center !important;
}