@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

.controle-auxilio-aluguel {
  font-family: "DM Serif Text", serif !important;
  color: black !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-weight: 800;
}

.header div {
  display: flex;
  gap: .5em;
}

.btn-export {
  background-color: #157214;
  border: none;
  border-radius: 5px;
  color: white !important;
  font-weight: 600;
  padding: .35em 1em;
  transition: .35s;
}

.btn-export i {
  color: white !important;
}

.pdf {
  margin-left: .5em;
  background-color: red;
}

.btn-export:hover {
  transform: translateY(-2px);
}

.card-grouper {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.ecard {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 25px;
  box-shadow: 0px 0px 32px -3px rgba(0, 0, 0, 0.075);
  padding: 2em;
  transition: .35s;
}

.ecard:hover {
  border: 1px solid rgb(74, 74, 218);
  transform: translateY(-2px);
}

.ecard i {
  display: flex;
  justify-content: center;
  font-size: 3em;
  width: 1em;
  border-radius: 50%;
  background-color: #c1bdfc;
  color: #6359E9;
}

.ecard p {
  padding-top: 1em;
  font-size: 1.5em;
}

.ecard h1 {
  font-size: 4em;
  font-weight: 800;
}

.ecard div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label-ecard {
  font-size: 1em;
}

.table {
  border: 1px solid #e9e9e9;
  border-radius: 25px;
  margin-top: 1em;
}

.table_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em 1em;
}

.table_header_infos div {
  display: flex;
}

.button-generate {
  background-color: #157214;
  border: none;
  border-radius: 5px;
  color: white !important;
  font-weight: 600;
  padding: .35em 1em;
  transition: .35s;
}

.button-generate:hover {
  transform: translateY(-2px);
}

.button-generate i {
  color: white !important;
}

.table_filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em 1em;
  gap: .5em;
}

.table_filter div {
  display: flex;
  align-items: center;
}

.table_filter div div {
  display: flex;
  flex-direction: column;
}

.table_filter div input {
  border-radius: 5px;
  border: none;
  background-color: #ece9e9;
  color: black;
  padding: .35em 1em;
}

.table_filter div select {
  border-radius: 5px;
  border: none;
  background-color: #ece9e9;
  padding: .35em 1em;
}

.table_filter div div input {
  border-radius: 5px;
  border: none;
  background-color: #ece9e9;
  color: black;
  padding: .35em 1em;
}

.table_filter button {
  background-color: #ff200b;
  color: white !important;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  padding: .35em 1em;
  transition: .35s;
}

.table_filter button:hover {
  transform: translateY(-2px);
}

.table_filter_date {
  display: flex;
  align-items: center;
  padding: .5em 1em;
  gap: .5em;
}

.table_filter_date input {
  border-radius: 5px;
  border: none;
  background-color: #ece9e9;
  color: black;
  padding: .35em 1em;
}

/* box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
box-shadow: 0 3px 5px rgba(0,0,0,.08),0 1px 3px rgba(0,0,0,.06);
transform: translateY(-2px); */